<html> 

<head>
<title>Elucidata</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>XgBoost Algorithm</h1>
    <h2> Uploat Test File </h2>
    <h4>(File have to be in .csv Format)</h4>
   
    <form action="{% url 'op1' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="excel" value="Upload">
      {% csrf_token %}
      <input type="submit" value="Output" name = "op1">
      {% csrf_token %}
        Download from these links!-->
      <a href= {% url 'download_1' %}> Download file</a>
    </form>

    {% for element in con_recommendation %}
        {{ element }}
    {% endfor %}

    {{ val }}

</body>
{% csrf_token %}

</html>