<html> 

<head>
<title>Data</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>XgBoost Algorithm</h1>
    <h2> Uploat Test File </h2>
    <h4>(File have to be in .csv Format)</h4>
   
    <form action="{% url 'op1' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="excel" value="Upload">
      {% csrf_token %}
      <input type="submit" value="Output" name = "op1">
      {% csrf_token %}
    </form>
    <form action="{% url 'op2' %}" target="_blank">
        <input type="submit" value="NoteBook" />
    </form>

    <h1> Result </h1>
    {% for key, value in con_recommendation.items %}
    <h4> {{key}} </h4>
    <h5>{{value}}</h5>
    {% endfor %}

    {{ val }}

</body>
{% csrf_token %}

</html>